@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <p>First edit from github, then rebuild in openshift</p>
    <p>Second edit from github, then rebuild in openshift</p>
</div>
